<style>
body 
{
    background: url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/FBQG1UG7ID.jpg') fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
}
</style>
<body class="login">
    <div class="container">
        <div class="row">
         <div class="col-md-12">
                <div class="pr-wrap">
                    <div class="pass-reset">
                        <label>
                            Enter the email you signed up with</label>
                        <input type="email" placeholder="Email" />
                        <input type="submit" value="Submit" class="pass-reset-submit btn btn-success btn-sm" />
                    </div>
                </div>
                <div class="wrap">
                    <p class="form-title">Welcome</p>
                    <form class="login">
                    <input type="text" placeholder="Username" />
                    <input type="password" placeholder="Password" />
                    <input ng-click="logMeIn()" type="submit" value="Sign In" class="btn btn-success btn-sm" />
                    <input ng-click="logMeIn()" type="submit" value="Sign Up" class="btn btn-success btn-sm" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

